@model List<Flyinn.Models.Empleado>

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <title>Transferir Comisiones</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/ico/favicon.png">
    <link href="~/Content/EstiloCV/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/EstiloLogin/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/EstiloCV/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/EstiloCV/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/EstiloCV/css/theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EstiloCV/css/font-entypo.css" rel="stylesheet" type="text/css">
    <link href="~/Content/EstiloCV/plugins/boostrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/EstiloCV/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/Content/dist/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/EstiloCV/css/theme.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/EstiloCV/css/chrome.css" rel="stylesheet" type="text/chrome">
    <link href="~/Content/EstiloCV/css/theme-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/EstiloCV/custom/custom.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Content/EstiloCV/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/EstiloCV/js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="~/Content/EstiloCV/js/mobile-detect-modernizr.js"></script>

    <link href="~/Content/EstiloLogin/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/EstiloLogin/css/dataTables.responsive.css" rel="stylesheet" />
</head>
<body id="pages" class="full-layout nav-right-hide nav-right-start-hide nav-top-fixed responsive clearfix" data-active="pages " data-smooth-scrolling="1">
    <div class="vd_body">
        @if (Request.IsAuthenticated)
        {
            <text>
                @using (Html.BeginForm("LogOff", "Report", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </text>
        }

        <div class="content">
            <div class="vd_content-wrapper">
                <div class="vd_content clearfix">
                    <div class="vd_title-section clearfix">


                        <div class="vd_panel-header no-subtitle">

                            <h1 style="margin-left:5%;margin-right:1%; float:left"> <img style="margin-left: -25%; margin-top: -1%; width:90px; height:60px;" src="~/Content/EstiloLogin/images/LOGOSUNSOLHOTELES.png" />Reportes - Flyinn </h1>
                            <button type="button" class="btn btn-danger btn-xs" style="float:right; margin-top:1.5%; margin-right:2%" id="link" onclick="javascript: document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-remove-sign"></i> Cerrar Sesion </button>

                            @Html.ActionLink("Listado Certificados", "Listado", "Certificados", null, new { @style = "float:right; margin-top:1.5%;  margin-right:1%;", @id = "btnCertificados", @title = "Mostrar Certificados", @class = "btn btn-info btn-xs" })
                            @Html.ActionLink(" Listado Contratos ", "Principal", "Contratos", null, new { @style = "float:right; margin-top:1.5%; margin-right:1%;", @id = "btnCertificados", @title = "Mostrar Certificados", @class = "btn btn-info btn-xs" })

                        </div>
                    </div>
                    <div class="vd_content-section clearfix">
                        <div class="row">
                            <div id="blanket" style="display: none; background-color: #111; opacity: 0.65; *background: none; position:absolute; top: 0px; left: 0px; width: 100%; height:100%; z-index: 100;"></div>
                            <div class="row" id="popUpDiv" style="display: none; margin-top: 2.5%; margin-left: 5%; position: absolute; background: white; width: 90%; height:20%; border: 3px solid #0d7183; z-index: 100;">


                                <form method="post" action="#" enctype="multipart/form-data">
                                    <div class="col-lg-12">
                                        <div class="panel-heading">
                                            <div class="text-muted bootstrap-admin-box-title" style="font-weight:bold; float:left;">Comisiones Flyinn</div>
                                        </div>
                                    </div>
                                    <div style="margin-left:15%">
                                        <div class="alert alert-danger vd_hidden" style="display:none; width:80%" id="oculto">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
                                            <span class="vd_alert-icon"><i class="glyphicon glyphicon-exclamation-sign vd_red"></i></span><strong>Importante!</strong> Estos Campos se encuentran Vacios o estan Incorrectos: <label style="color:red" id="error"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">


                                        <table id="tabla_cetificado" class="table table-bordered table-condensed table-hover">
                                            <tr>
                                                <th><label class="col-xs-7 control-label">Nro Contrato</label></th>
                                                <td><label class="col-xs-7 control-label" id="NroContrato"></label></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th><label class="col-xs-4 control-label">Fecha Venta: </label><label class="col-xs-4 control-label" id="fechaVenta"></label></th>
                                                <td><label class="col-xs-7 control-label">Fecha Procesable: </label><label class="col-xs-4 control-label" id="fechaProcesable"></label></td>
                                                <th><label class="col-xs-7 control-label">Monto Contrato:</label></th>
                                                <td><label class="col-xs-7 control-label" id="MontoContrato"></label></td>
                                            </tr>

                                            <tr>
                                                <th><label class="col-xs-7 control-label" style="margin-top:10px">Promotor</label></th>
                                                <th><label class="col-xs-7 control-label" style="margin-top:10px">Liner</label></th>
                                                <th><label class="col-xs-7 control-label" style="margin-top:10px">Closer</label></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="col-xs-12 controls">
                                                        @* @Html.DropDownList("Promotores", (SelectList)ViewData["Promotores"], new { @style = "width:100%", @onclick = "javascrip: if(this.value !=" + ViewData["SINPROMOTOR"] + " ){ $('select#EstatusP').val(1); } else { $('select#EstatusP').val(0);}" })*@
                                                        <input type="text" name="Promotor" id="Promotor" readonly />
                                                        <input hidden type="text" name="idPromotor" id="idPromotor" readonly />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-xs-12 controls">
                                                        @*  @Html.DropDownList("Liner", (SelectList)ViewData["Liner"], new { @style = "width:100%", @onclick = "javascrip: if(this.value != " + ViewData["SINSUPERVISOR"] + " ){ $('select#EstatusS').val(1); } else { $('select#EstatusS').val(0);}" })*@
                                                        <input type="text" name="Liner" id="Liner" readonly />
                                                        <input hidden type="text" name="idLiner" id="idLiner" readonly />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-xs-12 controls">
                                                        @*   @Html.DropDownList("Closer", (SelectList)ViewData["Closer"], new { @style = "width:100%", @onclick = "javascrip: if(this.value != " + ViewData["SINCOORDINADOR"] + " ){ $('select#EstatusC').val(1); } else { $('select#EstatusC').val(0);}" })*@
                                                        <input type="text" name="Closer" id="Closer" readonly />
                                                        <input hidden type="text" name="idCloser" id="idCloser" readonly />
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="col-xs-6 control-label" style="margin-top:10px;margin-left:1px">Comisión</label>
                                                    <div class="col-xs-8 controls">

                                                        <input type="text" name="comisionPromotor" id="comisionPromotor" onkeypress="return decimal(event,this)" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="col-xs-6 control-label" style="margin-top:10px;margin-left:1px">Comisión</label>
                                                    <div class="col-xs-8 controls">

                                                        <input type="text" name="comisionLiner" id="comisionLiner" onkeypress="return decimal(event, this)" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="col-xs-6 control-label" style="margin-top:10px;margin-left:1px">Comisión</label>
                                                    <div class="col-xs-8 controls">

                                                        <input type="text" name="comisionCloser" id="comisionCloser" onkeypress="return decimal(event, this)" />
                                                    </div>
                                                </td>
                                                <td>
                                                    @*<div class="col-xs-8 controls">
                                                            @Html.DropDownList("EstatusG", (SelectList)ViewData["Estatus"], new { @style = "width:100%" })
                                                        </div>*@
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-sm-9" style="margin-left:10%; margin-top:1%;">
                                        <div class="row mgbt-xs-0">
                                            <div class="text-center vd_info-parent">
                                                <button hidden type="button" class="btn btn-info" style="width:10%; height:5%" id="guardar_contrato" onclick="guardarComisiones()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar </button>
                                                @*  @Ajax.ActionLink("Modificar1", "InsertarComisiones1", new { comisionPromotor="comisionPromotor"}, new AjaxOptions { UpdateTargetId = "example1", OnSuccess="ShowEditUserForm",InsertionMode=InsertionMode.Replace, HttpMethod="Get" }, new {@id="btnModificar", @title = "Modificar", @class = "btn btn-success" })*@
                                                <button hidden type="button" class="btn btn-info" style="width:10%; height:5%" id="modificar_contrato" onclick="guardarComisiones()"><i class="glyphicon glyphicon-floppy-disk"></i> Modificar </button>
                                                <button type="button" class="btn btn-info" style="width:10%; height:5%" id="popup_cancel" onclick="popup('popUpDiv')"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#btnModificar').attr('href', function () {
                                            return this.href.replace('comisionPromotor', $('#comisionPromotor').val());
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-sm-12">
                                <div class="tabs widget">
                                    <!-- PESTAÑAS DE NAVEGACION-->
                                    <ul class="nav nav-tabs widget">
                                        <li id="tab_perfil_top" class="active"> <a data-toggle="tab" href="#profile-tab"> Transferencia de Comisiones <span class="menu-active"><i class="glyphicon glyphicon-chevron-up"></i></span> </a></li>
                                    </ul>
                                    <!-- PESTAÑAS DE NAVEGACION-->
                                    <div class="tab-content">
                                        <!-- REPORTE PERSONALIZADO -->
                                        <div id="profile-tab" class="tab-pane active">
                                            <form method="post" action="#" enctype="multipart/form-data">
                                                <div class="pd-20">
                                                    <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="glyphicon glyphicon-list-alt"></i> TRANSFERENCIA DE COMISIONES </h3>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="panel-heading">
                                                                <div class="text-muted bootstrap-admin-box-title" style="font-weight:bold">Filtrar por Fecha</div>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <div class="col-sm-3">
                                                                    <div class="row mgbt-xs-0">
                                                                        <div class="col-xs-12 controls" style="margin-left:1px; margin-top:2px;">
                                                                            <label class="col-xs-12 control-label">Fecha Inicio</label>
                                                                            <div class="text-center vd_info-parent">
                                                                                <input type="date" name="fchini" id="fchini" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="row mgbt-xs-0">
                                                                        <div class="col-xs-12 controls" style="margin-left:1px; margin-top:2px;">
                                                                            <label class="col-xs-12 control-label">Fecha Fin</label>
                                                                            <div class="text-center vd_info-parent">
                                                                                <input type="date" name="fchfin" id="fchfin" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>

                                                            <div class="col-sm-6">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="panel-heading">

                                                                <div class="text-center vd_info-parent">

                                                                    <button type="button" onclick="BuscarComisionesTransferencia()" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>Consultar</button>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="panel-heading">
                                                                <div id="dvListado" class="text-muted bootstrap-admin-box-title" style="font-weight:bold">Listado de Comisiones</div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="dataTable" id="example2">

                                                                        
                                                                        


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        


                                                    </div>
                                                </div><!-- pd-20 -->
                                            </form>
                                        </div>

                                        

                                    </div><!-- col-sm-12 -->
                                </div><!-- row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2016 SUNSOL HOTELES. Todos los Derechos Reservados
                            </div>
                        </div>
                    </div><!-- row -->
                </div><!-- container -->
            </div>
        </footer>
    </div>

    <!-- Footer END -->
    <!-- Head menu search form ends -->
    <!-- .vd_body END  -->
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible" style="float:left"> <i class="glyphicon glyphicon-chevron-up"> </i> </a>
   @*<script>
            $('#example').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": true,
                "asStripClasses": null
            });
        </script>*@

    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script src="~/Content/dist/sweetalert.min.js"></script>
    <script src="~/Content/js/Search.js"></script>
    <script src="~/Content/js/Validaciones.js"></script>
    <script src="~/Content/js/DobleClick.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/js/Cascada.js"></script>
    <script src="~/Content/js/CargarTablas.js"></script>
</body>
</html>


